<%- include('./partials/main_head'); %>

  <main>
    <div class="jumbotron">
      <h1>Objets Magique - Prix Raisonnables</h1>

      <p>
        Les prix des objets magiques sont définis par rapport à leur puissance/utilité plutôt que par leur rareté.<br/>
        Ceux-ci peuvent paraitre élevés mais cela évite que les joueurs se retrouvent avec des objets beaucoup trop puissant pour eux.
      </p>


      <form name="filters" method="get">
        <h3>Filtres</h3>
        Type
        <select name="type">
          <option value=""></option>
          <%
                var options = [ "Autres", "Babioles", "Consommables", "Objets Change la Donne", "Objets d'Invocations", "Objets Martiaux", "Objets Non-Offensifs" ];
                for ( var i = 0; i < options.length; i++ )
                {
                  var selected = ( typeFilter == options[ i ] ) ? "selected" : "";
                  %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                }
              %>
        </select>
        Rareté
        <select name="rarety">
          <option value=""></option>
          <%
                var options = [ "Commun", "Peu Commun", "Rare", "Très Rare", "Légendaire" ];
                for ( var i = 0; i < options.length; i++ )
                {
                  var selected = ( raretyFilter == options[ i ] ) ? "selected" : "";
                  %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                }
              %>
        </select>
        Lien
        <select name="link">
          <option value=""></option>
          <%
                var options = [ "Lien nécessaire", "Pas de lien" ];
                for ( var i = 0; i < options.length; i++ )
                {
                  var selected = ( linkFilter == options[ i ] ) ? "selected" : "";
                  %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                }
              %>
        </select>
        Maudit
        <select name="cursed">
          <option value=""></option>
          <%
                var options = [ "Maudit", "Pas Maudit" ];
                for ( var i = 0; i < options.length; i++ )
                {
                  var selected = ( cursedFilter == options[ i ] ) ? "selected" : "";
                  %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                }
              %>
        </select>
        Intelligent
        <select name="sentient">
          <option value=""></option>
          <%
                var options = [ "Intelligent", "Pas Intelligent" ];
                for ( var i = 0; i < options.length; i++ )
                {
                  var selected = ( sentientFilter == options[ i ] ) ? "selected" : "";
                  %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                }
              %>
        </select>
        <br/>
        <br/>
        <h3>Trier par</h3>
        <select name="sorting">
          <option value=""></option>
          <%
                var options = [ /*"Prix",*/ "Rareté" ];
                for ( var i = 0; i < options.length; i++ )
                {
                  var selected = ( sortingFilter == options[ i ] ) ? "selected" : "";
                  %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                }
              %>
        </select>
        <br/>
        <br/>
        <input type="submit" value="Filtrer" />
      </form>
      <br/>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Rareté</th>
            <th scope="col">Lien</th>
            <th scope="col">Maudit</th>
            <th scope="col">Conscient</th>
            <th scope="col">Détail</th>
          </tr>
        </thead>
        <tbody>
          <% magicItems.forEach(function(item) { %> 
          <tr>
            <td><%= item.type %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= item.rarety %></td>
            <td><%= ((item.link) ? '✓' : '✗'); %></td>
            <td><%= ((item.cursed) ? '✓' : '✗'); %></td>
            <td><%= ((item.sentient) ? '✓' : '✗'); %></td>
            <td><a href="<%= item.url %>" target="_blank">aidedd</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

    </div>
  </main>

<%- include('./partials/main_foot'); %>

